<div class="container-fluid text-center">
    <h1>Cursos</h1>
    <button type="button" class="btn btn-primary mb-3" routerLink="/courses-form/0">Agregar Curso</button>
    <div class="d-flex justify-content-center align-content-center flex-wrap gap-5">
        <div class="card" *ngFor="let course of courses; trackBy: trackByCourseId" 
             style="width: 18rem;" (click)="goToCourse(course.id)">
            <img 
                [src]="course.image" 
                class="card-img-top p-3"
                style="height: 200px; width: fit-content; max-width: 100%; margin-inline: auto;" 
                [alt]="course.title">
            <div class="card-body">
                <h5 class="card-title">ID: {{ course.id }}</h5>
                <h5 class="card-title">Título: {{ course.title }}</h5>
                <p class="card-text">Descripción: {{ course.description }}</p>
                <h6 class="card-subtitle mb-2">Precio: ${{ course.price.toFixed(2) }}</h6>
                <p class="card-text">Profesor: {{ course.professor }}</p>
                <p class="card-text">
                    <a [href]="course.videoUrl" target="_blank">Ver Video</a>
                </p>
                <a (click)="addToCart($event, course)" class="btn btn-primary">Añadir al carrito</a>
                <div *ngIf="role === 'admin'">
                    <a [routerLink]="['/course-form', course.id]" class="btn btn-success">Actualizar</a>
                    <a (click)="deleteCourse($event, course.id)" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
</div>
